
header {
  padding: 24px 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul {
  display: flex;
  align-items: center;
  gap: 52px;
}

a {
  color: #636060;
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;

}

.bg-image {
  background-image: url("../images/Rectangle\ 1.jpg");
  width: 100%;
  height: 606px;
  background-size:cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 31px;
}

h1 {
  font-size: 79px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 19px;
  font-weight: 400;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.information p{
    color: #636060;
    width: 235px;
    height: 115px;
     margin-left: 100px;
}
.information h2{
    color: #636060;
    font-size: 17px;
    line-height: 100%;
    font-weight: 400;
    width: 89px;
    height: 20px;
    margin-top: 84px;
    margin-left: 100px;
}
.information h1{
    color: #010101;
    font-size: 26px;
    font-weight: 400;
     margin-left: 100px;
     margin-top: 9px;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
      margin-left:500px;     
}

.images .itam{
    text-align: center;
}

.images img{
    width: 100%;
    margin-top:-150px;
}

.images h1{
    margin-top: 15px;
    font-size: 22px;
    margin-left:-40px;
    
}

.images p{
    font-size: 16px;
    color: #555;
    margin-top: 8px;
    width:300px;
     margin-left:-5px;
     margin-bottom:133px;
    
}

